.cards.block
  .content.block__content
    h2 Заголовок
    p Текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст

  .cards__items.cards__items--3col
    .cards__item
      .cards__card
        //.cards__icon: img(src='https://via.placeholder.com/50x50.png')
        .cards__content
          .cards__header Оперативность
          p Реагируем на обращение в течение 15 минут и оперативно решаем поставленные задачи
    .cards__item
      .cards__card
        .cards__content
          .cards__header Надежность
          p Услуги предоставляются специалистами с многолетним стажем работы

    .cards__item
      .cards__card
        .cards__content
          .cards__header Персональный подход
          p Подберем индивидуальные условия сотрудничества для каждого клиента
