.cards.block
  .content.block__content
    h2 Заголовок
    p Текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст

  .cards__items.cards__items--vertical
    each i in [1,2]
      .cards__item
        .cards__card
          .cards__icon: img(src='https://via.placeholder.com/50x50.png')
          .cards__content
            p: b “Зелёные” облигации
            p Средства, полученные от данного вида облигаций, эмитент направляет  на финансирование «зелёных» проектов
    .cards__item
      .cards__card
        .cards__content
          p: b “Зелёные” облигации
          p Средства, полученные от данного вида облигаций, эмитент направляет  на финансирование «зелёных» проектов
