.teamList.block
  .teamList__items
    each i in [1,2,3,4,5,6,7,8,9,10, 11]
      .teamList__item.btnContainer
        button.teamList__card(data-micromodal-trigger='team-popup')
          img.teamList__img(src='https://via.placeholder.com/250x250.png')
          span.teamList__name Имя Фамилия
          span.teamList__position Должность
          span.teamList__btn: span.btn.btn--outline.btn--sm Подробнее
