.grey-block.director
  .c
    .director__main
      .director__head
        +the_svg('quote')
        | Поможем в решении самых сложных задач
      .director__text Главная движущая сила развития АКГ «Интерэкспертиза» в том, что мы любим свою работу и поэтому делаем её добросовестно.
      .director__bullets
        .director__bullet эффективные решения
        .director__bullet добросовестная работа
        .director__bullet инвестиции в качество
        .director__bullet.director__bullet--highlight лидер рынка по версии RAEX
      .director__buttons
        a.btn.btn--red(href='#')
          |Начать сотрудничество
          +the_svg('arrow')
        a.btn.btn--outline(href='#') Подробнее о нас

    .director__aside
      .director__img: img(src=require('src/modules/director/img/director.png'))
      .director__name Магомедрасул Муртазалиев
      .director__position Генеральный директор