.block.cases
  .content.content--block
    h2 Кейсы

  .cases__items
    each i in ['586 млн руб. сэкономил комплексный аудит', '586 млн руб. сэкономил комплексный аудит']
      .cases__item
        a.cases__card(href='#')
          span.cases__img
          span.cases__info
            span.cases__name=i
            span.cases__text Производественная компания
            span.cases__link
              | Перейти к кейсу
              +the_svg('arrow')
  .blockFooter
    .blockFooter__content
      .blockFooter__title В нашем портфолио более 9 000 кейсов
      .blockFooter__text Чтобы ознакомиться с полным перечнем кейсов, перейдите по ссылке или нажмите на кнопку.
    .blockFooter__aside
      .blockFooter__actions
        .blockFooter__action
          a.btn.btn--block(href='#') Все кейсы

