.block.cases
  .content.block__content
    h2 Кейсы

  .cases__items
    each i in ['586 млн руб. сэкономил комплексный аудит', '586 млн руб. сэкономил комплексный аудит']
      .cases__item
        a.cases__card(href='#')
          span.cases__img
          span.cases__info
            span.cases__name=i
            span.cases__text Производественная компания
            span.cases__link
              span Перейти к кейсу
              +the_svg('arrow')
  .block__footer
    .block__content
      .block__title В нашем портфолио более 9 000 кейсов
      .block__text Чтобы ознакомиться с полным перечнем кейсов, перейдите по ссылке или нажмите на кнопку.
    .block__aside
      .block__actions
        .block__action
          a.btn.btn--block(href='#') Все кейсы

