.team.block

  .team__navigation
    .navigation
      .navigation__button.navigation__button--prev: +the_svg('arrow')
      .navigation__text #[b] / #[span]
      .navigation__button.navigation__button--next: +the_svg('arrow')

  .team__slider
    .team__slides
      each i in [1,2,3,4,5]
        .team__slide
          .team__image: img(src='https://via.placeholder.com/700x700.png')
          .team__content.navigationPlaceholder
            .team__name Магомедрасул Муртазалиев
            .team__position Генеральный директор АКГ «Интерэкспертиза»
            .content
              p Доктор экономических наук, профессор.
              p В 1996 г. получил квалификационный аттестат аудитора в области общего аудита. С 28.02.2003 аттестат продлен на неограниченный срок.
              ul
                li В 2003 г. решением Высшей аттестационной комиссии при Министерстве образования РФ присуждена ученая степень доктора экономических наук.
                li В 2003 г. решением Министерства образования РФ присвоено ученое звание профессора.
              p Автор около 100 научных трудов.
              p Генеральный директор АКГ «Интерэкспертиза» утверждает стратегию развития и осуществляет общее руководство деятельностью группы компаний.
              p
                |referent@interexpertiza.ru#[br]
                |+7 (495) 777-12-70, +7 (495) 777-12-71

  .team__pagination
    .pagination