.prosCons.block
  .content.block__content
    h2 Плюсы бухгалтерского аутсорсинга

  .prosCons__container
    .prosCons__col
      .prosCons__header
        .prosCons__header-icon: img(src='https://placehold.jp/40x40.png')
        | Штатный бухгалтер
      .prosCons__list
        ul
          li
            | Необходимо организовать рабочее место, приобрести компьютерную технику и иное оборудование
            +the_svg('cross_red')
          li
            | Необходимо приобрести, установить и поддерживать работу специального программного обеспечения, а также обеспечить бухгалтера специальной литературой и подпиской на правовые базы
            +the_svg('cross_red')
          li
            | Бухгалтер может уйти в отпуск, на больничный, уволиться, что приведет к утрате контроля над бухгалтерской деятельностью компании
            +the_svg('cross_red')
          li
            | Штатный бухгалтер замотивирован на достижение общих целей компании и не несет финансовой ответственности за ошибки в бухгалтерском учёте
            +the_svg('cross_red')
          li
            | У штатных бухгалтеров не всегда хватает времени на регулярное и своевременное изучение специальной литературы и повышение квалификации
            +the_svg('cross_red')
          li
            | Некому предъявить претензии, если ошибки в работе обнаружены после увольнения бухгалтера
            +the_svg('cross_red')
    .prosCons__col
      .prosCons__header Аутсорсинг в АКГ “Интерэкспертиза”
      .prosCons__list
        ul
          li
            | Вы экономите на организации рабочего места, покупке оборудования и программного обеспечения
            +the_svg('check_blue')
          li
            | Можете непрерывно контролировать деятельность бухгалтера и обращаться к нему в любой момент
            +the_svg('check_blue')
          li
            | Вы получаете независимые профессиональные услуги и можете быть уверены в корректности бухгалтерского учёта
            +the_svg('check_blue')
          li
            | Мы несем финансовую ответственность за ошибки в бухгалтерском учёте, что способствует повышению качества работы специалистов
            +the_svg('check_blue')
          li
            | Наши специалисты регулярно и обязательно проходят курсы повышения квалификации
            +the_svg('check_blue')
          li
            | Порядок и условия оказания услуг четко регулируются договором. Вы получаете страховку от непредвиденых ситуаций
            +the_svg('check_blue')
