.reasons2.block
  .content.block__content
    h2 Почему стоит обратиться к специалисту?
    p Независимая поддержка опытных юристов позволит Вам:

  .reasons2__list
    .reasons2__item
      .reasons2__head Рационально использовать собственные трудовые ресурсы
      .reasons2__text для решения текущих вопросов или сопровождения проекта. У Вас высвобождается время на принятие других управленческих решений.
      .reasons2__icon: +the_svg('check_red')
    .reasons2__item
      .reasons2__head Обрести уверенность в безопасности бизнеса
      .reasons2__text посредством поручения бухгалтерских и налоговых вопросов компании специалистам, несущим ответственность за результаты оказания услуг.
      .reasons2__icon: +the_svg('check_red')
    .reasons2__item
      .reasons2__head Получить экономическую выгоду и снизить риски
      .reasons2__text Обеспечение штатной налоговой службы обойдется дороже привлечения внешних специалистов, а ее компетенций может не хватить для решения всех возникающих вопросов.
      .reasons2__icon: +the_svg('check_red')
    .reasons2__item
      .reasons2__head Контролировать работу штатных специалистов
      .reasons2__text Получая обратную связь от опытных налоговых консультантов и юристов,, Вы всегда можете оценить квалификацию и качество выполнения задач своими сотрудниками.
      .reasons2__icon: +the_svg('check_red')

