.block.bullets
  .content.block__content
    h2 О компании
    p АКГ «Интерэкспертиза»: 30 лет успешной работы в сфере аудиторско-консалтинговых услуг. Наша аудиторская компания успешно функционирует на рынке профессиональных услуг с 1992 года и за это время мы получили признание крупнейших организаций России как надежный партнер, способный предоставлять качественные услуги и решать нестандартные задачи в оптимальные сроки.
  .bullets__items
    .bullets__item
      .bullets__head.h2 ТОП-25
      .bullets__text ведущих аудиторско-консалтинговых групп России по итогам 2021 г.
    .bullets__item
      .bullets__head.h2 С 1992 года
      .bullets__text на рынке профессиональных услуг
    .bullets__item
      .bullets__head.h2 > 9 000 проектов
      .bullets__text реализовано проектов различной степени сложности
    .bullets__item
      .bullets__head.h2 1 млрд руб.
      .bullets__text сумма страхования профессиональной оценочной деятельности
    .bullets__item
      .bullets__head.h2 > 170 млн руб.
      .bullets__text профессиональная ответственность оценщиков
    .bullets__item
      .bullets__head.h2 1 млрд руб.
      .bullets__text сумма страхования профессиональной аудиторской деятельности
    .bullets__item
      .bullets__head.h2 Аккредитация в ВЭБ.РФ
      .bullets__text в качестве верификатора финансовых инструментов устойчивого развития
    .bullets__item
      .bullets__head.h2 Членство в СРО аудиторов
      .bullets__text Саморегулируемая организация аудиторов Ассоциация “Содружество”
    .bullets__item
      .bullets__head.h2 Членство в СРО оценщиков
      .bullets__text “Российское общество оценщиков”
