extends ../pug/_layout

block body
  .c
    include ../modules/frontHead/frontHead
    include ../modules/bullets/bullets
    include ../modules/director/director
    include ../modules/services/services
    include ../modules/cases/cases
    include ../modules/contactForm/contactForm
    include ../modules/press/press
    include ../modules/clients/clients
    include ../modules/testimonials/testimonials
    include ../modules/socials/socials
