extends ../pug/_layout

block body
  .c
    include ../modules/head/head
    include ../modules/serviceHead/serviceHead
    include ../modules/contactForm/serviceForm
    include ../modules/ratingsSlider/ratingsSlider
    include ../modules/teamSlider/teamSlider
    include ../modules/history/history
    include ../modules/team/team
    include ../modules/teamList/teamList
    include ../modules/ratings/ratings
    include ../modules/partners/partners
    include ../modules/testimonials/testimonialsList
    include ../modules/files/files
    include ../modules/requisites/requisites
    include ../modules/requisites/contacts
    include ../modules/gallery/gallery
    include ../modules/contact/contact
    include ../modules/news/news
    include ../modules/articles/articles
    include ../modules/faq/faq
    include ../modules/newsletter/newsletter
    include ../modules/news/newsList
    include ../modules/articles/articlesList
    include ../modules/cards/cards
    include ../modules/cards/cardsVertical
    include ../modules/reasons/reasons
    include ../modules/tariffs/tariffs
    include ../modules/tariffs/tariffsSm
    include ../modules/present/present
    include ../modules/calc/calc
    include ../modules/list/list
    include ../modules/consultForm/consultForm
    include ../modules/process/process

