extends ../pug/_layout

block body
  .c
    include ../modules/head/head
    include ../modules/serviceHead/serviceHead
    include ../modules/contactForm/serviceForm
    include ../modules/ratings/ratings
    include ../modules/team/team
    include ../modules/history/history

