.faq.block
  .content.block__content
    h2 Вопросы и ответы

  each i in [1,2,3]
    .faq__block
      button.faq__head
        span.faq__title Как выбрать надежную аудиторскую компанию?
        span.faq__icon: +the_svg('arrow')
      .faq__content
        .content
          p АКГ «Интерэкспертиза»: 30 лет успешной работы в сфере аудиторско-консалтинговых услуг. Наша аудиторская компания успешно функционирует на рынке профессиональных услуг с 1992 года и за это время мы получили признание крупнейших организаций России как надежный партнер, способный предоставлять качественные услуги и решать нестандартные задачи в оптимальные сроки.

  .block__footer
    .block__aside
      .block__actions
        .block__action
          a.btn.btn--block.btn--outline(href='#')
            span Все вопросы и ответы
            +the_svg('arrow')

