.results.block
  .content.block__content
    h2 По результатам проведения оценки вы получите:

  .results__items
    .results__item
      .results__card
        .results__img: img(src='https://placehold.jp/64x64.png')
        .results__name Отчет об оценке
        .results__text гарантированно соответствующий требованиям банков и других пользователей отчётов
    .results__item
      .results__card
        .results__img: img(src='https://placehold.jp/64x64.png')
        .results__name Экспертную поддержку
        .results__text Будем на связи на протяжении всех этапов работы.
    .results__item
      .results__card
        .results__label Акция
        .results__img: img(src='https://placehold.jp/64x64.png')
        .results__name Специальное предложение
        .results__text С первого заказа вы попадаете в нашу систему лояльности и можете рассчитывать на скидки и бонусы.
