.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 40px;
  min-height: 24px;
  @include mobile() {
    min-height: 20px;
  }

  > input {
    display: none
  }

  > span {
    display: block;
    font-size: 12px;
    color: $grey2;

    &:before, &:after {
      content: '';
      position: absolute;
      @include anim();
    }

    &:before {
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border: 2px solid $grey3;
      border-radius: 50%;
      flex-shrink: 0;
    }

    &:after {
      opacity: 0;
      width: 9px;
      height: 18px;
      left: 11px;
      top: -3px;
      border: 2px solid $red;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      @include anim();
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  input:checked ~ span {
    &:before {
      //background: $green-dark;
      //border-color: $green-dark;

    }

    &:after {
      opacity: 1;
    }
  }

  &:hover {
    > span {
      &:before {
        //border-color: $green;
      }
    }
  }
}
