.cookie
  .c
    .cookie__container
      .cookie__content
        .cookie__head Мы используем файлы cookie
        .cookie__text Пользуясь настоящим веб-сайтом, Вы даете свое согласие на использование файлов cookies.
        a(href='#') Узнать подробнее >
      .cookie__aside
        button.btn.btn--outline.btn--block Ok