.breadcrumbs(typeof="BreadcrumbList" vocab="https://schema.org/")
  a(href='#') Главная
  | #{' '}> #{' '}
  a(href='#') О компании
  | #{' '}> #{' '}
  span.breadcrumb_last(aria-current="page") Заголовок
