html {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  background: $white;
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  @include mobile() {
    font-size: 14px;
  }
}

@media print {
  @page {
    margin: 1cm;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100vh;
}

.c {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-lg;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  //@include media('lg') {
  //  max-width: $container-md;
  //}
  @include mobile() {
    padding-left: 20px;
    padding-right: 20px;
    max-width: $container-sm;
  }
}

img[data-src],
img[data-srcset] {
  min-height: 1px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 0.85rem;
  opacity: 0.5;
}

.animated {
  & > * {
    visibility: hidden;
  }
}

.nowrap {
  display: inline;
  white-space: nowrap;
}

.content {
  h1, h2, h3, .h1, .h2, .h3 {
    margin-bottom: 1em;
  }

  h4, h5, h6, .h4, .h5, .h6 {
    margin-bottom: .5em;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.block {
  margin: 80px 0;
  @include mobile() {
    margin: 40px 0;
  }

  &--grey {
    margin: 0;
    background: $grey6;
    padding: 65px 0;
    @include fullWidth();
    @include mobile() {
      padding: 30px 0;
    }
  }

  &__content {
    margin-bottom: 40px;
    @include mobile() {
      margin-bottom: 30px;
    }
  }


  &__footer {
    margin-top: 30px;
    display: flex;

    @include mobile() {
      margin-top: 25px;
      flex-direction: column;
    }
  }

  &__pagination {
    align-self: center;
    @include mobile() {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    @include mobile() {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 16px;
    @include mobile() {
      font-size: 14px;
    }
  }

  &__aside {
    margin-left: auto;
    flex-shrink: 0;
    padding-left: 30px;
    @include mobile() {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
  }

  &__actions {
    margin: -5px -10px;
    display: flex;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__action {
    padding: 5px 10px;
  }
}


.navigationPlaceholder {
  &:before {
    content: '';
    display: block;
    float: right;
    width: 190px;
    height: 50px;
    @include mobile() {
      width: 85px;
      height: 45px;
    }
  }
}

.navigation {
  display: flex;

  &--block {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $grey3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey3;
    @include anim();
    @include mobile() {
      width: 35px;
      height: 35px;
    }

    svg {
      width: 25px;
      height: 25px;
    }

    &--prev {
      margin-right: 10px;
      @include mobile() {
        margin-right: 5px;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      margin-left: 10px;
      @include mobile() {
        margin-left: 5px;
      }
    }

    &:hover {
      border-color: $red;
      color: $red;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__text {
    min-width: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 0 10px;
    @include mobile() {
      display: none;
    }

    b {
      font-size: 34px;
      color: $red;
    }
  }
}

.pagination {
  display: flex;
  @include mobile() {
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $grey;
    margin-right: 5px;
    @include anim();

    &.swiper-pagination-bullet-active {
      background: $red;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.ya-share2 .ya-share2__list .ya-share2__badge {
  background: $blue;
}