.list.block
  .content.block__content
    h2 Перечень документов, необходимых для верификации
  ol.list__list
    li Заявка эмитента на оценку долговых обязательств с указанием причин для отнесения данного выпуска к «зелёным» облигациям
    li Эмиссионная документация или её проект
    li Политика эмиссии «зелёных» облигаций (Green Bond	Framework)
    li Подробные	материалы об этапах отбора проектов и планируемом использовании средств
    li Заполненная эмитентом анкета по форме ООО “Интерэкспертиза-Верификация”
