.socials {
  $this: &;

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    margin: 0 -15px;
    @include mobile() {
      margin: 0;
      flex-direction: column;
    }
  }

  &__item {
    width: 33.3333%;
    padding: 0 15px;
    @include mobile() {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__card {
    background: #FFFFFF;
    border-radius: 21px;
    display: flex;
    align-items: center;
    height: 78px;
    padding: 0 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: $black;
    @include mobile() {
      height: 55px;
      font-size: 18px;
    }
    @include card();
    &:before {
      border-radius: 21px;
    }

    img {
      margin-right: 23px;
      @include mobile() {
        max-height: 30px;
        width: auto;
      }
    }

    svg {
      color: $grey;
      width: 30px;
      height: 30px;
      margin-left: auto;
    }
  }
}