.socials.block
  h2 Будьте в курсе последних событий
  p Чтобы получать новости от экспертов отрасли и быть в курсе наших специальных предложения, следите за нами:
  .socials__items
    .socials__item
      a.socials__card(href='#')
        img(src=require('src/img/telegram.png'))
        |В Telegram
        +the_svg('arrow')
    .socials__item
      a.socials__card(href='#')
        img(src=require('src/img/vc.png'))
        |В VC
        +the_svg('arrow')
    .socials__item
      a.socials__card(href='#')
        img(src=require('src/img/dzen.png'))
        |В Дзен
        +the_svg('arrow')
