.notFound
  .notFound__content
    .notFound__head 404
    .notFound__title Страница не найдена
    .notFound__subtitle Страница, на которую Вы пытаетесь попасть, не существует или была удалена.
    .notFound__btn
      a.btn(href='#')
        span Перейти на главную страницу
        +the_svg('arrow')