.requisites.block
  .requisites__cols
    .requisites__col
      .requisites__row
        .requisites__item
          .requisites__header Адрес:
          | 117105, г. Москва, Новоданиловская набережная, д. 4А, помещение II, этаж 6, комн. 22Б
      .requisites__row
        .requisites__item
          .requisites__header Ближайшая станция метро:
          | Тульская (10 мин.)

      .requisites__row
        .requisites__item
          .requisites__header Как до нас добраться?
          .btn.btn--sm.btn--outline На метро
          .btn.btn--sm.btn--outline На машине

      .requisites__row
        .requisites__item
          .requisites__header Телефон:
          | +7 (495) 777-12-70, +7 (495) 777-12-71

      .requisites__row
        .requisites__item
          .requisites__header E-mail:
          | inform@interexpertiza.ru

    .requisites__col
      .requisites__map.map
