.requisites.block
  .requisites__cols
    .requisites__col
      .requisites__row
        .requisites__item
          .requisites__header Полное наименование фирмы:
          | Общество с ограниченной ответственностью «ИНТЕРЭКСПЕРТИЗА»
      .requisites__row
        .requisites__item
          .requisites__header Сокращенное наименование фирмы:
          | ООО «ИНТЕРЭКСПЕРТИЗА»

      .requisites__row
        .requisites__item
          .requisites__header Юридический адрес
          | 117105, г. Москва, Новоданиловская набережная, д. 4А, помещение II, этаж 6, комн. 22Б

      .requisites__row
        .requisites__item
          .requisites__header Адрес местонахождения
          | 117105, г. Москва, Новоданиловская набережная, д. 4А, помещение II, этаж 6, комн. 22Б

      .requisites__row
        .requisites__item
          .requisites__header ИНН
          | 7715007039
        .requisites__item
          .requisites__header КПП
          | 772601001
        .requisites__item
          .requisites__header ОГРН
          | 1027739385332

      .requisites__row
        .requisites__item
          .requisites__header Данные о государственной регистрации
          | Свидетельство  Московской  регистрационной  палаты №  261.775 от 24 апреля 1992 г.

      .requisites__row
        .requisites__item
          .requisites__header Членство в саморегулируемой организации аудиторов
          | Саморегулируемая организация аудиторов Ассоциация «Содружество»

    .requisites__col
      .requisites__row
        .requisites__item
          .requisites__header ОРНЗ (основной регистрационный номер записи) в реестре аудиторов и аудиторских организаций
          | 12006010686

      .requisites__row
        .requisites__item
          .requisites__header Данные страхового полиса, подтверждающие страхование риска ответственности аудиторов
          | Страховщик: АО «СОГАЗ» Полис страхования ответственности при осуществлении аудиторской деятельности № 1821-40  PL 5012 со сроком действия с 19.10.2021 г. по 18.10.2022 г.

      .requisites__row
        .requisites__item
          .requisites__header Телефоны
          | +7  (495) 777-12-70, +7 (495) 777-12-71

      .requisites__row
        .requisites__item
          .requisites__header E-mail
          | inform@interexpertiza.ru

      .requisites__row
        .requisites__item
          .requisites__header Код ОКПО
          | 17440068

      .requisites__row
        .requisites__item
          .requisites__header Генеральный директор
          | Муртазалиев Магомедрасул Магомедович

