.price.block
  .price__container
    .price__main
      .content
        h2 Стоимость аудита по МСФО
        p На стоимость услуги аудита международной отчетности влияет объём проводимых компанией операций, её выручка, система налогообложения и другие составляющие.
        p Стоимость оказания услуги формируется индивидуально.

    .price__card
      .price__text В АКГ «Интерэкспертиза», стоимость аудита по МСФО, как правило, начинается
      .price__price ОТ 150 000 руб. + НДС

