.reasons.block
  .content.block__content
    h2 Зачем проводить верификацию?
    p Текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст

  .reasons
    .reasons__content
      .reasons__main
        ul.reasons__list
          li Требуется
          li Требуется описание порядка отражения той или иной хозяйственной операции в бухгалтерском учете и отчетности и в целях налогообложения
          li Необходима помощь в заполнении налоговых деклараций и расчетов
          li Необходимо ознакомиться с мнением контролирующих органов и развитием судебной практики по интересующему вопросу в области налогообложения
          li Требуется проведение анализа планируемых или совершенных сделок на предмет наличия налоговых рисков и получение рекомендации по их устранению или минимизации
          li Необходим предварительный расчет налоговой нагрузки, которую повлекут за собой те или иные сделки
          li Нужна исчерпывающая информация о предусмотренных налоговым законодательством льготах, которые могут быть использованы Вашей организацией с учетом конкретного вида деятельности, сделок и используемых активов
      .reasons__aside
        .reasons__card
          .content
            h5 Результат проведения аудита
            ul
              li независимое и объективное мнение сразу нескольких опытных специалистов, что на 99,8% снижает вероятность ошибки
              li опыт и знания специалистов с многолетним стажем работы в области оказания юридических услуг
              li возможность полностью сконцентрироваться на решении своих задач, пока мы решаем Ваши юридические вопросы
          .reasons__button
            a.btn(href='#')
              span Подробнее
              +the_svg('arrow')
