.reasons {
  $this: &;

  &__content {
    display: flex;
    font-size: 16px;
    @include mobile() {
      flex-direction: column;
      font-size: 14px;
    }
  }

  &__main {
    flex: 1;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 65px;
      @include mobile() {
        padding-left: 45px;
      }

      svg {
        width: 36px;
        height: 36px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__aside {
    width: 460px;
    margin-left: 30px;
    flex-shrink: 0;
    @include mobile() {
      width: 100%;
      margin: 30px 0 0;
    }
  }

  &__card {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 30px 27px;
    //height: 100%;
    display: flex;
    flex-direction: column;
    @include mobile() {
      padding: 15px 15px 20px;
    }
  }

  &__button {
    padding-top: 25px;
    margin-top: auto;
  }
}