.banner.block.block--grey
  .c
    .banner__content
      .content.block__content
        h2 Проверка может проводиться
        p как по всем перечисленным направлениям, так и выборочно, в зависимости от Ваших целей и задач. Оставьте заявку и наш специалист поможет определиться с составом услуги.
      button.btn.btn--red
        span Оставить заявку
        +the_svg('arrow')

  .banner__img: img(src='https://via.placeholder.com/580x400.png')