.newsletter.block
  .newsletter__container
    .newsletter__main
      .content.block__content
        h2 Подпишитесь на нашу ежемесячную рассылку
        p Наши новости и статьи пишут исключительно профессиональные аудиторы, юристы, оценщики, консультанты.
      .newsletter__note Нажимая на кнопку “Подписаться”, Вы даете  согласие на обработку своих #[a(href='#') персональных данных].
    .newsletter__aside
      form
        .newsletter__input
          .input: input.input__input(placeholder='ФИО')
        .newsletter__input
          .input: input.input__input(placeholder='Email' type='email')
        .btn.btn--block.btn--red Подписаться
