.clients
  .content.block__content.navigationPlaceholder
    h2 Клиенты

  .navigation.navigation--block
    .navigation__button.navigation__button--prev: +the_svg('arrow')
    .navigation__text #[b] / #[span]
    .navigation__button.navigation__button--next: +the_svg('arrow')

  .clients__slider
    .clients__slides
      each i in [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]
        .clients__slide
          img(src='https://via.placeholder.com/150x150.png?text='+i)
  .block__footer
    .block__pagination
      .pagination
    .block__aside
      .block__actions
        .block__action
          a.btn.btn--block(href='#') Все клиенты