footer.footer
  .footer__top
    .c
      .footer__left
        img.footer__logo(src=require('src/img/logo.svg'))
        .footer__text
          |117105, г. Москва, #[br]Новоданиловская наб., 4А (м. Тульская)
          br
          br
          |График работы: Пн-пт с 9:00 до 17:45

        .footer__socials
          a(href='#'): +the_svg('telegram')
          a(href='#'): +the_svg('vk')

      .footer__center
        .footer__menu
          ul
            li: a(href='#') О компании
            li: a(href='#') Услуги
            li: a(href='#') Пресс-центр
            li: a(href='#') Контакты
            li: a(href='#') Реквизиты

        .footer__submenu
          ul
            li: a(href='#') Политика конфиденциальности
            li: a(href='#') Пользовательское соглашение
            li: a(href='#') Условия использования cookie

      .footer__contacts
        .footer__header Свяжитесь с нами любым удобным способом:
        .footer__phones
          a(href='#') +7 (495) 777-12-70
          a(href='#') +7 (495) 777-12-71
        .footer__email: a(href='#') inform@interexpertiza.ru

        button.btn.btn--red Оставить заявку

  .footer__bottom
    .c
      .footer__copyright 1992-2022. ООО “Интерэкспертиза”. Все права защищены.
