.present.block
  .present__container
    .present__img: img(src='https://placehold.jp/88x88.png')
    .present__content
      h3.present__title ПОДАРОК!
      .content
        p Дарим подтверждение экологического эффекта при покупке тарифа “Бизнес”
    .present__button
      button.btn.btn--block.btn--outline.btn--red.btn--sm
        span Получить подарок
        +the_svg('arrow')
