.news.block
  .block__filter
    .block__filter-icon: +the_svg('filter')
    .block__filter-items
      .block__filter-item
        select.select
          option Категория1Категория1Категория1
          option Категория2
          option Категория3
          option Категория4
          option Категория5
          option Категория6
          option Категория7
          option Категория8
          option Категория9
          option Категория10
          option Категория11
      .block__filter-item
        select.select
          option Категория1Категория1Категория1
          option Категория2
          option Категория3
          option Категория4
          option Категория5
          option Категория6
          option Категория7
          option Категория8
          option Категория9
          option Категория10
          option Категория11
  .news__items
    each i in [1,2,3,4,5,6,7]
      .news__slide
        a.news__card(href='#')
          span.news__head
            span.news__date 21.07.2022
            span.news__category Налоги и право
          span.news__title ФНС России разъяснила порядок заполнения российскими организациями декларации по налогу на имущество с 01.01.2023.
          span.news__text Как известно, в связи с внесением Федеральным законом от 02.07.2021 № 305-ФЗ «О внесении изменений в части первую и вторую Налогового кодекса Российской Федерации и отдельные законодательные акты Российской Федерации» дополнений в ст. 386 НК РФ, начиная с отчетности за 2022 год, российские организации не должны будут включать...
          span.news__link
            span Читать полностью
            +the_svg('arrow')
